
raw_authentic/
raw_forgery/
backend-flask/models/
backend-flask/uploads/
backend-flask/processed/


webscrap.py
cell4backup.txt
*/cell4backup.txt


venv/
backend-flask/venv/
__pycache__/
*.pyc
*.pyo
*.pyd
pip-tmp/


.env


target/
frontend-java/target/
build/
.gradle/
*.class


.vscode/
.idea/
.DS_Store